
/* body {
            background-image: url(/home/tringapps/project/myapp-master/src/components/images/26551188.jpg);
       background-repeat: repeat-x;
       
       height: 70vh;
      } */

body{
    background: url("../images/26551188.jpg") no-repeat  fixed center;
    background-size:cover;

}
